<div class="container mb-4">
    <div class="card mt-4">
        <div class="card-header">
            Licenciatura.
            <h6>Lic. Informática Administrativa.</h6>
        </div>
        <div class="card-text p-4">
            <h4>Universidad Internacional.</h4>
            <p>
                General Anaya 313, Colonia Del Carmen, Delegación Coyoacán 04100 Ciudad de México.
            </p>
            <a href="https://seinternacional.mx/" target="_blanck">Sitio Web.</a>
        </div>
    </div>
    <div class="card mt-4">
        <div class="card-header">
            Diplomado. (Opción de titulación)
            <h6>Modelado y almacenamiento de datos / Administración de bases de datos.</h6>
        </div>
        <div class="card-text p-4">
            <h4>Universidad Nacional Autónoma de México.  UNAM </h4>
            <a href="http://fca.unam.mx/" target="_blanck">Sitio Web.</a>
        </div>
    </div>
    <div class="card mt-4">
        <div class="card-header">
            Diplomado.
            <h6>Diseño web. HTML / CSS</h6>
        </div>
        <div class="card-text p-4">
            <h4>Centro de Investigación Cibernética. </h4>
            <p>
                Plaza de la Republica 53 1er piso Frente al Monumento de la Revolución
            </p>
            <a href="https://www.educaweb.mx/centro/centro-investigacion-cibernetica-distrito-federal-54569/" target="_blanck">Sitio Web.</a>
        </div>
    </div>
    <div class="card mt-4">
        <div class="card-header">
            Diplomado.
            <h6>Administración e instalación de servidores Linux.</h6>
        </div>
        <div class="card-text p-4">
            <h4>Centro de Investigación Cibernética. </h4>
            <p>
                Plaza de la Republica 53 1er piso Frente al Monumento de la Revolución
            </p>
            <a href="https://www.educaweb.mx/centro/centro-investigacion-cibernetica-distrito-federal-54569/" target="_blanck">Sitio Web.</a>
        </div>
    </div>
    <div class="card mt-4">
        <div class="card-header">
            Bootcamp.
            <h6>Fullstack JavaScript.</h6>
        </div>
        <div class="card-text p-4">
            <h4>Bedu Tech. </h4>
            <p>
                Av. Álvaro Obregón 110, 1er piso, Col. Roma Nte., C.P. 06700, CDMX
            </p>
            <a href="https://bedu.org/" target="_blanck">Sitio Web.</a>
        </div>
    </div>
    <div class="card mt-4">
        <div class="card-header">
            Bootcamp.
            <h6>Cinta negra.</h6>
        </div>
        <div class="card-text p-4">
            <h4>Dev.f. </h4>
            <p>
                    Av. Álvaro Obregón 1683, Roma Norte, C.P. 06700, Ciudad de México
            </p>
            <a href="https://devf.la/cdmx/cintanegra" target="_blanck">Sitio Web.</a>
        </div>
    </div>
</div>