  /* Formulario */
  form {
    margin: 10px;
    width: 100%;
    height: 100%;
  }
  form input {
    width: 90%;
    height: 5%;
    margin: 5% auto;
    border: none;
    border-bottom: 1px solid #dfdfdf;
    border-radius: 5px;
  }
  form label {
    margin: 2% auto;
  }
  form textarea {
    width: 90%;
    height: 5%;
    margin: 2% auto;
    border: 1px solid #dfdfdf;
    border-radius: 5px;
    resize: none;
  }
  form button {
    width: 25%;
    margin: 10px auto;
    border-radius: 20px;
  }