<div class="form-container">
    <h2>Formulario de Contacto.</h2>
    <form [formGroup]="contactForm" (ngSubmit)="onSaveForm()">
        <div class="row">
            <div class="col-12 col-md-6">
                <input type="text" formControlName="name" placeholder="Nombre(s)">
                <div class="alert alert-danger" *ngIf="name.invalid && (name.dirty || name.touched)">
                    <div class="container-error-message" *ngIf="name.errors.required">
                        Nombre(s) es requerido.
                    </div>
                    <div class="container-error-message" *ngIf="name.errors.minlength">
                        Nombre(s) debe tener 5 caracteres.
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <input type="text" formControlName="last" placeholder="Apellido(s)">
                <div class="alert alert-danger" *ngIf="last.invalid && (last.dirty || last.touched)">
                        <div class="container-error-message" *ngIf="last.errors.required">
                            Apellido(s) es requerido.
                        </div>
                        <div class="container-error-message" *ngIf="last.errors.minlength">
                            Apellido(s) debe tener 5 caracteres.
                        </div>
                    </div>
            </div>

        </div>

        <input type="text" formControlName="email" placeholder="Correo Eléctronico">
        <div class="alert alert-danger" *ngIf="email.invalid && (email.dirty || email.touched)">
            <div class="container-error-message" *ngIf="email.errors.required">
                Email es requerido.
            </div>
            <div class="container-error-message" *ngIf="email.errors.minlength">
                Email debe tener 5 caracteres.
            </div>
            <div class="container-error-message" *ngIf="(email.dirty || email.touched) && email.invalid && email.errors.pattern">
                Email invalido.
            </div>
        </div>

        <input type="text" formControlName="subject" placeholder="Asunto">
        <div class="alert alert-danger" *ngIf="subject.invalid && (subject.dirty || subject.touched)">
            <div class="container-error-message" *ngIf="subject.errors.required">
                Asunto es requerido.
            </div>
            <div class="container-error-message" *ngIf="subject.errors.minlength">
                Asunto debe tener 5 caracteres.
            </div>
        </div>

        <textarea formControlName="message" placeholder="Mensaje"></textarea>
        <div class="alert alert-danger" *ngIf="message.invalid && (message.dirty || message.touched)">
                <div class="container-error-message" *ngIf="message.errors.required">
                    Mensaje es requerido.
                </div>
                <div class="container-error-message" *ngIf="message.errors.minlength">
                    Mensaje debe tener 10 caracteres.
                </div>
            </div>

        <button type="submit" class="btn btn-block btn-outline-success" [disabled]="!contactForm.valid">Enviar</button>
    </form>

    <hr>
    <p class="texto">O escribeme a mi <i class="fab fa-facebook-messenger"></i> </p>
    <hr>

    <div class="messanger">
        <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FMVLDeveloper%2F&tabs=messages&width=500&height=300&small_header=true&adapt_container_width=false&hide_cover=true&show_facepile=false&appId=1827340830900389" width="500" height="300" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
    </div>
</div>