  /* Formulario */
  h2 {
    text-align: center;
    font-family: 'Saira Condensed', sans-serif;
}

  form {
    align-content: center;
    margin: 30px;
    margin-top: 4rem;
    width: 90%;
    height: 90%;
    font-family: 'Saira Condensed', sans-serif;
}
  
  form input,
  form textarea {
    width: 100%;
    margin-bottom: 4rem;
    border: 0;
    border-bottom: 1px solid #000000;
  }

  form textarea {
    margin-top: 4rem;
    min-width: 100%;
    max-width: 100%;
    min-height: 5rem;
    max-height: 5rem;
    overflow-x:scroll;
    overflow: hidden;
  }

  form input:focus, 
  input.form-control:focus {
    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none;
    border-bottom: 2px solid #AF7AC5;
  }

  form textarea:focus {
    outline: none !important;
    outline-width: 0 !important;
    box-shadow: none;
    border-bottom: 2px solid #AF7AC5;
  }

  .alert-danger {
    color: #7B241C;
    background: #E6B0AA;
    margin-bottom: 5px;
  }

  .container-error-message {
    padding: 3px;
  }