<div class="infoGral animated fadeIn delay-1s">
        <h2>Lic. Mario Villela Larraza</h2>
        <h4>Diseñador Web y Programador</h4>
        <hr>
        <p>
            Como licenciado en informática, puedo decir que soy una persona que toma su vida con pasión y entrega. Como todo ser humano hay moemntos complicados a enfrentar, pero los asumo y busco la majer solución para obtener el mejor resultado. En el tema laboral, soy una persona que le dedica tiempo a cada tarea para no cometer errores que puedan cuasar un conflicto.
        </p>
        <p>
            La profecionalidad es uno de los puntos importantes para mi desempeño, ya que me ayuda a realizar de manera más eficiente las responsabilidadesque están a mi cargo. El trabajo en equipo es punto vital para el desarrollo de las tareas, ya que dará un resultado eficaz y no sólo en mi área laboral, sino en todas las áreas, ya que todo es un engranaje.
        </p>
        <p>
            Busco siempre ser propositivo, explorando nuevas alternativas para mi desenvolvimiento como ser humano y como profecional, para tener en consecuencia, un equilibrio en mi vida.
        </p>
        <div class="row social">
            <div class="col icono">
            <i class="fab fa-github"></i>
            </div>
            <div class="col icono">
            <i class="fab fa-facebook"></i>
            </div>
            <div class="col icono">
            <i class="fab fa-twitter"></i>
            </div>
        </div>
    </div>
    <div class="servicios animated fadeIn delay-2s">
        <h2>Skils</h2>
        <hr>
        <div class="row">
            <div class="col icono centro">
                    <img src="../../../assets/img/js.png">
                    <p class="centro">Javascript y HTML 5</p>
            </div>
            <div class="col icono centro">
                    <img src="../../../assets/img/angular.png">
                    <p class="centro">Angular 5, 6, 7, 8</p> 
            </div>
        </div>
        <div class="row">
            <div class="col icono centro">
                    <img src="../../../assets/img/bootstrap.png">
                    <p class="centro">Bootstrap 4</p>
            </div>
            <div class="col icono centro">
                <img src="../../../assets/img/node.png">
                <p class="centro">Node.Js</p>
            </div>
        </div>
        <div class="row">
            <div class="col icono centro">
                <img class="img2" src="../../../assets/img/graphql.png">
                <p class="centro">Graphql</p>
            </div>
        </div>
    
    </div>