<div class="infoGral animated fadeIn delay-1s">
        <h2>Lic. Mario Villela Larraza</h2>
        <h4>Desarrollador Web y Programador</h4>
        <hr>
        <p>
            Como licenciado en informática, puedo decir que soy una persona que toma su vida con pasión y entrega. Como todo ser humano hay momemntos complicados a enfrentar, pero los asumo y busco la mejor solución para obtener el mejor resultado. En el tema laboral, soy una persona que le dedica tiempo a cada tarea para no cometer errores que puedan cuasar un conflicto.
        </p>
        <p>
            La profecionalidad es uno de los puntos importantes para mi desempeño, ya que me ayuda a realizar de manera más eficiente las responsabilidades que están a mi cargo. El trabajo en equipo es punto vital para el desarrollo de las tareas, ya que dará un resultado eficaz y no sólo en mi área laboral, sino en todas las áreas, ya que todo es un engranaje.
        </p>
        <p>
            Busco siempre ser propositivo, explorando nuevas alternativas para mi desenvolvimiento como ser humano y como profecional, para tener en consecuencia, un equilibrio en mi vida.
        </p>
        <div class="row social">
            <div class="col icono">
                <a href="https://github.com/zerookrash" target="_blanck">
                    <i class="fab fa-github"></i>
                </a>
            </div>
            <div class="col icono">
                <a href="https://www.facebook.com/MVLDeveloper" target="_blanck">
                    <i class="fab fa-facebook"></i>
                </a>
            </div>
            <div class="col icono">
                <a href="https://twitter.com/MarioVillela11" target="_blanck">
                    <i class="fab fa-twitter"></i>
                </a>
            </div>
        </div>
    </div>

    <div class="wrapper container mb-4 animated fadeIn delay-1s">
        <h2>Skillset</h2>

        <p>HTML</p>
        <div class="single-wrapper">
            <div class="skills-area" id="html">90%</div>
        </div>
        <p>Javascript</p>
        <div class="single-wrapper">
            <div class="skills-area" id="js">65%</div>
        </div>
        <p>Angular 5, 6, 7, 8</p>
        <div class="single-wrapper">
            <div class="skills-area" id="ng">70%</div>
        </div>
        <p>Bootstrap 4</p>
        <div class="single-wrapper">
            <div class="skills-area" id="bt4">70%</div>
        </div>
        <p>Node JS</p>
        <div class="single-wrapper">
            <div class="skills-area" id="njs">50%</div>
        </div>
        <p>Graphql</p>
        <div class="single-wrapper">
            <div class="skills-area" id="gql">30%</div>
        </div>
        <p>Mongo DB</p>
        <div class="single-wrapper">
            <div class="skills-area" id="mdb">50%</div>
        </div>
        <p>Flexbox</p>
        <div class="single-wrapper">
            <div class="skills-area" id="fxbx">20%</div>
        </div>
    </div>

    <!-- <div class="servicios animated fadeIn delay-2s">
        <h2>Skillset</h2>
        <hr>
        <div class="row">
            <div class="col icono centro">
                    <img src="../../../assets/img/js.png">
                    <p class="centro">Javascript y HTML 5</p>
                    
            </div>
            <div class="col icono centro">
                    <img src="../../../assets/img/angular.png">
                    <p class="centro">Angular 5, 6, 7, 8</p> 
            </div>
        </div>
        <div class="row">
            <div class="col icono centro">
                    <img src="../../../assets/img/bootstrap.png">
                    <p class="centro">Bootstrap 4</p>
            </div>
            <div class="col icono centro">
                <img src="../../../assets/img/node.png">
                <p class="centro">Node.Js</p>
            </div>
        </div>
        <div class="row">
            <div class="col icono centro">
                <img class="img" src="../../../assets/img/graphql.png">
                <p class="centro">Graphql</p>
            </div>
            <div class="col icono centro">
                <img class="img" src="../../../assets/img/mdb.png">
                <p class="centro">MongoDB</p>
            </div>
        </div>
        <div class="row">
            <div class="col icono centro">
                <img src="../../../assets/img/flexbox.png" alt="" class="img">
                <p class="centro">Flexbox</p>
            </div>
        </div>
    
    </div> -->