nav {
    width: 100%;
    background-color: rgb(23, 165, 137);
}

nav ul li a,
nav a {
    color: #ffffff;
}

nav button span {
    color: #ffffff;
}

.brnad{
    font-family: 'Meddon', cursive;
}

.menu {
    font-family: 'Saira Condensed', sans-serif;
}

.barra {
    margin: 0 2rem;
}
