.principal {
    overflow: hidden;
}

img {
    height: 90%;
    width: 50%;
    position: fixed;
    z-index: 1;
}

#scroll {
    width: auto;
    height: 100%;
    overflow-y: auto;
}

::-webkit-scrollbar {
    display: none;
}