.principal {
    overflow: hidden;
    width: 100%;
}

.img {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
}

#scroll {
    width: auto;
    height: 50%;
    overflow-y: auto;
}

::-webkit-scrollbar {
    display: none;
}

.hidenOverflow {
    position: -webkit-sticky;
    position: sticky;
    top: 20px;
}