<h1 class="animated fadeIn">Simple Responsive Vertical Timeline Layout</h1>
<div class="timeline animated fadeIn">
  
  <h2 class="timeline__item timeline__item--year">2010</h2>
  
  <div class="timeline__item">
    <h3 class="timeline__title">CUAUHTÉMOC ZAMUDIO</h3>
    <p>Asesor de soporte técnico para la Asociación de Contadores Públicos de México</p>
  </div>
  <div class="timeline__item">
    <h3 class="timeline__title">NOC</h3>
    <p>Responsable del área de computo de las cuentas de la empresa.</p>
    <ol>
        <li>Ferrer y Asociados SA de CV</li>
        <li>Impresos 2000</li>
    </ol>
    <p>Proporcionando Mantenimiento a todos los equipos, Soporte técnico de 1er nivel y Administrando el stock de consumibles.</p>
  </div>
  <div class="timeline__item">
    <h3 class="timeline__title">SYTEL DE MÉXICO</h3>
    <p>En cargado de gestionar las grabaciones generadas por los varios call-centers de la empresa</p>
    <p>Mantenimiento y supervición de los servidores de respaldos</p>
  </div>
  
  <h2 class="timeline__item timeline__item--year">2011</h2>
  
  <div class="timeline__item">
    <h3 class="timeline__title">FRELANCE</h3>
    <ol>
        <li>DERMAPROB Y ASOCIADOS</li>
        <li>LVS ABOGADOS</li>
    </ol>
    <p>Proporcionaba sopotre técnico, respaldo de la información, actualizacion de sistemas y prevancion de infección de infacción con virus</p>
  </div>
  <div class="timeline__item">
    <h3 class="timeline__title">CONAFE</h3>
    <p>Encargado de la digitalización de expedientes, análisis y desarrollo de reportes para las oficinas centrales de CONAFE.</p>
    <p>Encargado del buen funcionamiento y mantenimiento de las computadoras del área de Estructuras</p>
  </div>
  
  
  <h2 class="timeline__item timeline__item--year">2012</h2>
  
  <div class="timeline__item">
      <h3 class="timeline__title">CENTRO DE DISTRIBUIÓN AHKIMPECH SA de CV</h3>
      <ol>
          <li>Encargado del montaje del sistema para eventos y asistir con soporte técnico en ellos</li>
          <li>Mantenimiento a equipos y servidores</li>
          <li>Mantenimiento y realizacion de reportes de las bases de datos</li>
          <li>Actualizacion de sistemas</li>
        </ol>
    </div>
    
    <h2 class="timeline__item timeline__item--year">2014</h2>
    
    <div class="timeline__item">
      <h3 class="timeline__title">SAINT LUCKE'S SCHOOL OF MEDICENE</h3>
      <ol>
            <li>Coordinador del área de sistemas</li>
            <li>Coordinador de servicios escolares</li>
            <li>Recepción de pagos por parte de alumnos.</li>
          </ol>
    </div>

  <h2 class="timeline__item timeline__item--year">2017</h2>
  
    <div class="timeline__item">
        <h3 class="timeline__title">PROYECTOS HIDROELÉCTRICOS</h3>
        <ol>
            <li>Asistente de coordinador de proyectos</li>
            <li>Gestión de cobranzas</li>
            <li>Manejo de personal</li>
        </ol>
    </div>
  
  <h2 class="timeline__item timeline__item--year">2018</h2>

    <div class="timeline__item">
        <h3 class="timeline__title">FRELANCER COMO DESARROLLADOR WEB</h3>
        <ol>
            <li>Desarrollo de aplicación para renta de consultorios por hora</li>
            <li>Desarrollo de pagina para Café Coyohuacan</li>
            <li>Desarrollo de aplicación para León en mi piel para personalizar pedidos de Chamarras de piel</li>
        </ol>
    </div>
  
</div>