<h1 class="animated fadeIn">Experiencia Laboral</h1>
<div class="timeline animated bounceInLeft">
  

  <h2 class="timeline__item timeline__item--year">2018</h2>
  
  <div class="timeline__item">
    <h3 class="timeline__title">FREELANCE DESARROLLADOR WEB</h3>
    <ol>
      <li>Desarrollo de aplicación para renta de consultorios.</li>
      <li>Desarrollo de página web para <strong>Café Coyohuacan</strong>.</li>
      <li>Desarrollo de aplicación personalizada de Chamarras de piel para <strong>León en mi piel</strong>.</li>
    </ol>
    <strong>A la fecha.</strong>
  </div>
  
  <h2 class="timeline__item timeline__item--year">2017</h2>
  
    <div class="timeline__item">
        <h3 class="timeline__title">PROYECTOS HIDROELÉCTRICOS</h3>
        <ol>
          <li>Asistente de coordinador de proyectos.</li>
          <li>Gestión de cobranzas.</li>
          <li>Manejo del personal.</li>
        </ol>
    </div>

    <h2 class="timeline__item timeline__item--year">2014</h2>
    
    <div class="timeline__item">
      <h3 class="timeline__title">SAINT LUCKE'S SCHOOL OF MEDICENE</h3>
      <ol>
        <li>Coordinador del área de sistemas.</li>
        <li>Coordinador de servicios escolares.</li>
        <li>Recepción de pagos del alumnado.</li>
      </ol>
    </div>

    <h2 class="timeline__item timeline__item--year">2012</h2>
  
  <div class="timeline__item">
      <h3 class="timeline__title">CENTRO DE DISTRIBUCIÓN AHKIMPECH S.A. de C.V.</h3>
      <ol>
        <li>Encargado del montaje del sistema para eventos y asistencia en soporte técnico en ellos.</li>
        <li>Mantenimiento a equipos y servidores.</li>
        <li>Mantenimiento y realización de reportes de las bases de datos.</li>
        <li>Actualización de sistemas.</li>
      </ol>
    </div>

    <h2 class="timeline__item timeline__item--year">2011</h2>
  
  <div class="timeline__item">
    <h3 class="timeline__title">FRELANCE</h3>
    <ol>
      <li>DERMAPROB Y ASOCIADOS</li>
      <li>LVS ABOGADOS</li>
    </ol>
    <p>Sopotre técnico, respaldo de la información, actualización de sistemas y prevención de virus en los equipos de computo.</p>
  </div>
  <div class="timeline__item">
    <h3 class="timeline__title">CONAFE</h3>
    <p>Encargado de la digitalización de expedientes, análisis y desarrollo de reportes para las oficinas centrales.</p>
    <p>Encargado del funcionamiento y mantenimiento del equipo de computo del área de Estructuras.</p>
  </div>

  <h2 class="timeline__item timeline__item--year">2010</h2>

  <div class="timeline__item">
    <h3 class="timeline__title">SYTEL DE MÉXICO</h3>
    <p>En cargado de gestionar grabaciones generadas por call-centers de la empresa.</p>
    <p>Mantenimiento y supervición de los servidores de respaldos.</p>
  </div>
  
  <div class="timeline__item">
    <h3 class="timeline__title">CUAUHTÉMOC ZAMUDIO</h3>
    <p>Asesor de soporte técnico para la Asociación de Contadores Públicos de México.</p>
  </div>
  <div class="timeline__item">
    <h3 class="timeline__title">NOC</h3>
    <p>Responsable del área de computo de las cuentas de la empresa:</p>
    <ol>
        <li>Ferrer y Asociados S.A. de C.V.</li>
        <li>Impresos 2000</li>
    </ol>
    <p>Proporcionando Mantenimiento a todos los equipos, soporte técnico de 1er nivel y administrando el stock de consumibles.</p>
  </div>

  

  
    
    


</div>